.gif {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 780px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.window {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 800px;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 20;
  cursor: pointer;
}

.VisibilityHidden {
  visibility: hidden;
}
